//=====================================================
// General
//=====================================================

// General Colors
$black: #000;
$very-dark-gray: #151918;
$dark-gray: #666;
$medium-gray: #898989;
$gray: #c2c2c2;
$light-gray: #EFF0F1;
$very-light-gray: #dde9e7;
$white: #FFFFFF;

$light-tan: #eff3cd;
$tan: #b7baa0;
$dark-tan: #8f907a;

$beige: #d1c5b2;
$light-brown: #b4471e;
$brown: #5f4419;
$dark-brown: #3f2a07;

$light-pink: #f2dede;
$pink: #ebcccc;

$light-maroon: #a94442;

$light-red: #f37c81;
$red: #e50000;
$medium-red: #ca2828;
$dark-red: #91090e;

$light-orange: #fec37d;
$orange: #ec7825;
$dark-orange: #b4471e;

$very-light-yellow: #fdfdd5;
$light-yellow: #fff17f;
$yellow: #ffcf27;
$dark-yellow: #d5bd12;

$light-green: #b1eeb1;
$green: #8ebb00;
$dark-green: #0d553f;

$light-teal: #9ed9d5;
$teal: #9fc5c0;
$medium-teal: #6f9c99;
$dark-teal: #0c4743;
$dark-gray-teal: #8ba7a3;

$cyan: #00AEEF;
$cyan-light: #6dcff6;
$light-blue: #7fc0fc;
$blue: #06367d;
$dark-blue: #151d28;

$light-purple: #bc99ec;
$purple: #88328a;
$dark-purple: #370f6d;

// Brand
$brand-blue: $blue;
$brand-orange: $dark-orange;
$brand-maroon: #710201;

//=====================================================
// Components
//=====================================================

//  Fonts
$base-font-color: $black;
$base-accent-color: $brand-blue;
$base-link-color: $brand-blue;
$hover-link-color: $brand-orange;
$h16-color-text: $black;
$h16-color-text-hover: $black;

// Sizes
$base-font-size: 1em;
$base-line-height: 1.638em;

// Typography
$sans-serif: helvetica, arial, verdana, sans-serif;
$serif: georgia, serif;
$roboto: "Roboto";
$roboto-condensed: "Roboto Condensed";
$base-font-family: $roboto, $sans-serif;

// Buttons
$button-color-back: $brand-blue;
$button-color-back-hover: $brand-orange;
$button-color-back-active: $button-color-back;
$button-color-text: $white;
$button-color-text-hover: $white;
$button-border: none;
$button-border-radius: 0px;
$button-font-family: $base-font-family;

// Borders
$base-border-radius: em(3); 
$base-border-color: $light-gray;

// Tables
$table-header-color-back: $very-dark-gray;
$table-header-color-text: $white;
$table-color-border: $very-dark-gray;
$table-row-color-back: $very-light-gray;
$table-row-color-back-alt: $light-gray;
$table-row-color-back-hover: $white;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;


// Form Elements
$form-border-size: 1px solid;
$form-border-color: #a8a8a8;
$form-border-color-hover: darken($gray, 10);
$form-border-color-focus: darken($gray, 10);
$form-border-radius: 4px;
$form-box-shadow: none;
$form-box-shadow-focus: $form-box-shadow;
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
$form-field-weight: 400;
$form-field-background: #f6f6f6;
$form-field-padding: .625em .875em;
$form-select-padding: .625em 2em .625em .875em;
$form-field-margins: 0 0 1.25em;



//=====================================================
// Regions
//=====================================================

// General
$max-width: 1420px;
$tablet-width: 768px;
$max-full-width: 100%;

// Body
$body-color-back: $dark-blue;
$body-color-text: $base-font-color;

// Utility
$utility-color-back: transparent;
$utility-color-text: $black;
$utility-color-text-hover: $brand-blue;
$utility-inner-color-back: transparent;
$utility-inner-max-width: $max-width;

// Header
$header-color-back: $white;
$header-inner-color-back: transparent;
$header-inner-max-width: $max-width;
$header-color-text: $black;
$header-color-text-hover: $dark-gray;
$header-title-color: $black;
$header-font-family: $base-font-family;

// Search Bar 
$search-color-back: $gray;
$search-color-text: $black;

// Nav
$nav-wrapper-back: transparent;
$nav-inner-max-width: $max-width;
$nav-color-back: transparent;
$nav-color-back-hover: $nav-wrapper-back;
$nav-color-text: $black;
$nav-color-text-hover: $brand-blue;
$nav-font-family: $roboto-condensed;
$nav-font-size: 1em;
$nav-font-weight: 700;
$nav-line-height: 1;
$nav-color-text-hover: $brand-blue;

// SubNav Dropdown
$subnav-dropdown-back: $brand-blue;
$subnav-color-text: $white;
$subnav-color-text-hover: $white;
$subnav-font-family: $roboto-condensed;
$subnav-font-size: 1em;
$subnav-line-height: $base-line-height;
$subnav-color-back: $brand-blue;
$subnav-color-back-hover: $brand-blue;

// Mobile Nav
$mobile-nav-back: $brand-blue;
$mobile-nav-main-font-size: 2em;
$mobile-nav-main-font-color: $white;
$mobile-nav-sub-font-size: .75em;
$mobile-nav-sub-font-color: $white;

// Banner/Hero
$banner-color-back: $white;
$banner-inner-color-back: transparent;
$banner-inner-max-width: $max-full-width;
$banner-text-color: $white;

// Page Title Header block
$content-header-color-back: transparent;
$content-header-inner-color-back: $white;
$content-header-inner-max-width: $max-width;

// Main
$main-color-back: $white;
$main-inner-color-back: $white;

// Superfooter
$superfooter-color-back: $blue;
$superfooter-inner-color-back: transparent;
$superfooter-color-text: $white;
$superfooter-color-text-hover: $white;

// Footer
$footer-color-back: transparent;
$footer-inner-color-back: transparent;
$footer-inner-max-width: $max-width;
$footer-color-text: $white;
$footer-link-color: $white;

// Transitions & Animations
$transitions: all 0.2s ease-in-out 0s;