#banner {
  @include clearfix;
  background: $banner-color-back;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
	position: relative;
	#banner-inner {
	  background: $banner-inner-color-back;
    margin: 0 auto;
		max-width: $banner-inner-max-width;
		padding: 0;
	}
}

.flexslider {
	@include border-radius(0);
	background: transparent;
	border: none;
	margin: 0;
	overflow: hidden;
}
.flex-control-nav {
	bottom: 2em;
}


.home-feature-wrapper {
	@include clearfix;
	.feature {
		margin: 0 0 5px;
		position: relative;
		.image-wrapper {
			position: relative;
			.image-overlay {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
				bottom: 0;
				left: 0;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 500;
			}
			.image-crop {
				overflow: hidden;
				position: relative;
				width: 100%;
				&:before {
					content: "";
					display: block;
					padding-top: 56%;
				}
				img {
					display: block;
					height: auto;
					left: 0;
					position: absolute;
					top: 0;
					vertical-align: top;
					width: 100%;
				}
			}
			img {
				vertical-align: top;
			}
		}
		.text-wrapper {
			bottom: 0;
			color: $white;
			padding: .625em;
			position: absolute;
			z-index: 501;
			a {
				color: $white;
			}
			.taxonomy {
				font-size: .875em;
				margin: 0 1em 0 0;
				text-transform: uppercase;
				vertical-align: middle;
			}
			.shares {
				font-weight: 700;
				vertical-align: middle;
				.material-icons {
					vertical-align: top;
				}
				&.hot {
					color: $red;
				}
			}
			.title {
				font-size: 1.25em;
				font-weight: 900;
			}
		}
	}
}



@media all and (min-width: 480px) {
	
	.home-feature-wrapper {
		.feature {
			.text-wrapper {
				bottom: .625em;
				.title {
					font-size: 1.5em;
					line-height: 1.375em;
				}
			}
		}
	}
	
}


@media all and (min-width: 667px) {
	
	.home-feature-wrapper {
		.feature {
			.text-wrapper {
				.title {
					font-size: 1.875em;
				}
			}
		}
	}
	
}


@media all and (min-width: 768px) {
	
	.home-feature-wrapper {
		.feature {
			margin: 0;
			.text-wrapper {
				.title {
					font-size: 2.25em;
				}
			}
			&.feature-small {
				float: left;
				width: 50%;
				.text-wrapper {
					padding: .625em 1.5em .625em .625em;
					.title {
						font-size: 1.25em;
					}
				}
			}
		}
	}
	
}


@media all and (min-width: 1024px) {
	
	.home-feature-wrapper {
		.feature {
			float: left;
			width: 66.666%;
			.text-wrapper {
				.title {
					font-size: 2.25em;
				}
			}
			&.feature-small {
				width: 33.333%;
				.text-wrapper {
					padding: .625em;
					.title {
						font-size: 1.25em;
					}
				}
			}
		}
	}
	
}


@media all and (min-width: 1440px) {
	
	.home-feature-wrapper {
		.feature {
			.text-wrapper {
				padding: 0 2em .625em;
				.title {
					font-size: 3.125em;
				}
				.taxonomy {
					font-size: 1.125em;
				}
				.shares {
					font-size: 1.125em;
				}
			}
			&.feature-small {
				.text-wrapper {
					bottom: .25em;
					padding: 0 1.5em .625em;
					.title {
						font-size: 1.875em;
					}
					.taxonomy {
						font-size: 1em;
					}
					.shares {
						font-size: 1em;
					}
				}
			}
		}
	}
	
}