#navigation {
  background: $nav-wrapper-back;
  display: none;
  margin: 0;
  padding: 0;
  #navigation-inner {
	  max-width: $max-width;
    ul.menu {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        font-family: $nav-font-family;
        font-size: $nav-font-size;
        font-weight: $nav-font-weight;
        margin: 0 .625em;
        padding: 0;
        position: relative;
        vertical-align: middle;
				color: $nav-color-text;
        a {
          background: $nav-color-back;
          color: $nav-color-text;
          display: inline-block;
          line-height: $nav-line-height;
          padding: 1.125em .25em;
          position: relative;
          text-decoration: none;
          &:before {
	          background: $brand-blue;
	          bottom: 0;
	          content: "";
	          height: 5px;
	          left: 0;
	          position: absolute;
	          width: 0%;
	          -webkit-transition: width .2s ease-in-out;
				    -moz-transition: width .2s ease-in-out;
				    -o-transition: width .2s ease-in-out;
				    transition: width .2s ease-in-out;
          }
          &:hover {
            background: $nav-color-back-hover;
            color: $nav-color-text-hover;
            &:before {
	            width: 100%;
            }
          }
          &.parent {
	        	padding: 1.125em 1.25em 1.125em .25em;
		        &:after {
			        content: "\e313";
			        font-family: 'Material Icons';
			        font-size: 1.25em;
			        margin: -8px 0 0;
			        position: absolute;
			        right: 0;
			        top: 50%;
		        }
	        }
        }
        &:hover a {
          background: $nav-color-back-hover;
          color: $nav-color-text-hover;
          &:before {
	          width: 100%;
          }
          a {
	          background: transparent;
          }
        }
        &:hover {
	        ul {
	          left: 0;
	          li {
	            a {
	              border: none;
	              color: $subnav-color-text;
	              display: block;
	              text-shadow: none;
	            }
	          }
	        }
	        .mega-menu {
		        left: -329px;
	        }
        }
        &:last-child {
	        &:hover ul {
	        	left: auto;
						right: 0;
					}
        }
        ul { /* Secondary */
          background: $subnav-color-back;
          -webkit-box-shadow: 4px 4px 6px 0 rgba(0,0,0,.25);
          box-shadow: 4px 4px 6px 0 rgba(0,0,0,.25);
          left: -999em;
          padding: 0;
          position: absolute;
          width: 250px;
          z-index: 999;
          li {
            border: none;
            float: left;
            font-family: $subnav-font-family;
            font-size: $subnav-font-size;
            font-weight: normal;
            position: relative;
            margin: 0;
            padding: 0;
            text-align: left;
            width: 250px;
            &:last-child {border: none;}
            a {
	            background: transparent;
              border: none;
              color: $subnav-color-text;
              line-height: $base-line-height;
              padding: .875em 1.5em;
              text-shadow: none;
              &:hover {
                background: $subnav-color-back-hover;
                color: $subnav-color-text;
                text-decoration: underline;
              }
            }
          }
        }
        .mega-menu {
	        background: $subnav-color-back;
          -webkit-box-shadow: 4px 4px 6px 0 rgba(0,0,0,.25);
          box-shadow: 4px 4px 6px 0 rgba(0,0,0,.25);
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          left: -999em;
          padding: 0;
          position: absolute;
          width: 1200px;
          z-index: 999;
          ul {
	          background: transparent;
	          box-shadow: none;
	          left: auto;
	          margin: 0;
	          position: relative;
	          width: auto;
	          z-index: auto;
	          li {
		          display: block;
		          float: none;
		          font-weight: 300;
		          width: auto;
							margin-left: 1em;
		          &:first-child {
								margin-left: 0;
			          font-size: 1.125em;
			          font-weight: 700;
			          a {
				          padding: .25em 1em;
			          }
		          }
		          a {
			          display: block;
			          padding: .125em 1em;
		          }
	          }
          }
          .nav-block {
	          flex: 0 0 25%;
	          margin: 1.5em 0;
          }
        }
      }
    }
	}
}


/* Functionality Styles; No need to change. */
.menu li:hover ul ul,
.menu li:hover ul ul ul,
.menu li.sfHover ul ul,
.menu li.sfHover ul ul ul {
    left: -999em;
}
.menu li:hover ul,
.menu li li:hover ul,
.menu li li li:hover ul,
.menu li.sfHover ul,
.menu li li.sfHover ul,
.menu li li li.sfHover ul {
    left: auto;
}


#mobile-header {
  position: absolute;
  right: .875em;
  top: 0;
  a {
    color: $black;
    cursor: pointer;
    display: block;
    padding: .875em .625em;
    &:hover {
	    text-decoration: none;
    }
    .material-icons {
	    display: inline-block;
	    vertical-align: middle;
    }
    .text {
	    font-size: .875em;
	    font-weight: 700;
	    margin: 0 0 0 .625em;
	    vertical-align: middle;
    }
  }
}

.sidr {
  background: $mobile-nav-back;
  box-shadow: inset 5px 0 15px -5px rgba(0,0,0,.5);
  -webkit-box-shadow: inset 5px 0 15px -5px rgba(0,0,0,.5);
  -moz-box-shadow: inset 5px 0 15px -5px rgba(0,0,0,.5);
  font-family: $base-font-family;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1;
  .sidr-inner {
    padding: 0;
  }
  .sub-toggle {
	  border-left: 1px solid rgba($white,.35);
	  cursor: pointer;
	  font-size: 1.25em;
	  line-height: 50px;
	  padding: 0 15px;
	  position: absolute;
	  right: 0;
	  text-align: center;
	  top: 0;
	  width: 50px;
	  &.is-open {
		  content: " - " !important;
	  }
  }
  ul {
    border: none;
    li {
      border: none;
      line-height: 1;
      position: relative;
      &:hover {
        box-shadow: none;
        line-height: 1;
        a {
	        box-shadow: none;
					line-height: 1;
        }
      }
      a {
	      border-bottom: 1px solid rgba($white,.35);
        color: $mobile-nav-main-font-color;
        padding: .75em .5em .75em 1.25em;
        &:hover {
          box-shadow: none;
          line-height: 1;
          text-decoration: underline;
        }
        .material-icons {
	        display: none;
        }
      }
      span {
	      padding: 0;
      }
      .sidr-class-mega-menu {
	      display: none;
	      ul {
		      display: block;
		      li {
			      font-size: .75em;
			      &:hover {
			        box-shadow: none;
			        line-height: 1;
			        a {
				        box-shadow: none;
								line-height: 1;
			        }
			      }
			      a {
				      padding: .75em 1em .75em 2.25em;
			      }
			      &.sidr-class-main-article-menu-header {
				      font-size: .813em;
				      font-weight: 600;
				      a {
					      padding: .75em 1em .75em 1.75em;
				      }
			      }
			    }
	      }
      }
      ul {
        display: none;
        li {
          font-size: .813em;
          line-height: 1.25em;
          &:hover {
		        box-shadow: none;
		        line-height: 1;
		        a {
			        box-shadow: none;
							line-height: 1;
		        }
		      }
          a {
            color: $mobile-nav-sub-font-color;
            padding: .75em 1em .75em 1.75em;
          }
        }
      }
    }
  }
}


@media all and (min-width: 768px) {

  #mobile-header {
    a {
      height: 80px;
      padding: 1.5em 0 0;
    }
  }

}




@media all and (min-width: 1200px) {

  #mobile-header {display: none;}
  #navigation {
    display: block;
  }
  .nav-wrapper {
		float: right;
		position: relative;
		right: 6.5em;
		top: 1em;
	}

}



@media all and (min-width: 1440px) {
	
	#navigation {
	  #navigation-inner {
		  ul.menu {
	      li {
	      	margin: 0 1em;
	      	&:hover {
		      	.mega-menu {
			      	left: -453px;
		      	}
		      }
	      	.mega-menu {
		      	width: 1440px;
	      	}
	      }
	    }
	  }
	}
	
  .nav-wrapper {
		top: 1.375em;
		right: 8em;
	}

}