.general-caption {
  width: 100%;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 53px;
	color: $dark-gray;
	font-size: 100%;
	font-style: italic;
}

.article-category {
	font-size: 1.25em;
}
.article-company, .article-author {
	font-weight: normal;
	font-size: 1em;
}
.article-body {
	margin: 2em 0;
	clear: both;
	img {
		float: right;
		width: 250px;  
		margin:  0.5em 0;
		&:nth-of-type(even) {
			margin-left: 1em !important;
		}
		&:nth-of-type(odd) {
			margin-right: 1em !important;
		}
	}
	.main-article-image {
		margin: 0 0 1.25em;
		img {
			float: none;
			margin: 0;
			width: auto;
		}
		.image-caption {
			color: $dark-gray;
			font-size: 0.813em;
			line-height: 1.375em;
			font-style: italic;
			padding: 0 .625em 0 0;
		}
	}
}



.social-media-article {
	margin-top: 6px;
	.a2a_button_facebook, .a2a_button_twitter {
		margin-right: 10px;
	}
}


.figure {
	float: right;
	width: 250px;  
	margin:  0.5em 0 0.5em 1em;
}
.general-caption {
	max-width: 700px;
	margin: 3em 0;
	padding: 1em;
	border: 1px solid #ccc;
	text-align: left;
	clear: both;
	p {
		margin-bottom: 0.25em;
	}
}
.general-caption-title {
	font-style: normal;
	font-weight: bold;
}



@media all and (min-width: 1024px) {
	
	.article-body {
		.main-article-image {
			float: left;
			margin: .25em 1em .625em 0;
			width: 45%;
		}
	}
	
}


@media all and (min-width: 1200px) {
	
	.article-body {
		.main-article-image {
			margin: .5em 2em 1em 0;
			width: 33%;
		}
	}
	
}