@import "../base/mixins";
@import "../base/variables";

span.contact-create {
  display: block;
  margin: -33px 0 0 88px;
  color: red;
  font-weight: bold;
}


.contact-form {
	margin: 1em 0;
	.flex-form {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		.flex-item {
			flex: 0 0 100%;
		}
	}
	.g-recaptcha {
		@include clearfix;
		float: none;
		margin: 0 0 1em;
		text-align: right;
		div {
			display: inline-block;
		}
	}
	.form-actions {
		@include clearfix;
		text-align: right;
		input[type="submit"] {
			display: inline-block;
			float: none;
			margin: 0 0 1em;
			width: 100%;
		}
	}
}


@media all and (min-width: 480px) {
	
	.contact-form {
		.form-actions {
			input[type="submit"] {
				width: auto;
			}
		}
	}
	
}


@media all and (min-width: 768px) {
	
	.contact-form {
		margin: 2em 0;
		.flex-form {
			.flex-item {
				flex: 0 0 45%;
			}
		}
	}
	
}

@media all and (min-width: 1024px) {
	
	.contact-form {
		.flex-form {
			justify-content: space-between;
			.flex-item {
				flex: 0 0 32%;
				&.company-name, &.company-email {
					flex: 0 0 49%;
				}
				&.comments {
					flex: 0 0 100%;
				}
			}
		}
	}
	
}