span.event-create {
  display: block;
  margin: -33px 0 0 133px;
  color: red;
  font-weight: bold;
}


.event-detail-page {
	.detail {
		&.dates {
			font-size: 1.25em;
			font-weight: 500;
			margin: 0 0 .25em;
		}
		&.location {
			border-bottom: 3px solid $gray;
			display: inline-block;
			margin: 0 0 1em;
			padding: 0 0 .25em;
			text-transform: uppercase;
		}
		&.description {
			font-size: 1.125em;
			line-height: 1.375em;
		}
	}
}