@import "../base/mixins";
@import "../base/variables";


#main {
  #content-header {
    .content-header-inner {
      max-width: 640px;
    }
  }
  #main-inner {
    max-width: 640px;
    #content-area {
      padding: 2em 0;
    }
  }
}

.btn, input[type="submit"] {
  margin: 2em 0 0;
}
