ul.awards {
  li {
    display: inline-block;
    height: 9em;
    width: 30%;
    margin: 0 1% 1% 0;
    background: #555;
    vertical-align: middle;
    text-align: center;
    color: white;
    padding: 1em;
    border-radius: 10px;
  }
}
