.blocks-row {
  @include clearfix;
}

.block {
  @include clearfix;
  margin: 0 0 1.5em;
  position: relative;
  .block-image {
    img {display: inline-block;}
  }
  h2, .block-title {
    font-size: 1.375em;
    margin: 0 0 .625em;
  }
  &.bottom-line {
	  border-bottom: 1px solid #000;
	  padding: 0 0 1.5em;
  }
}


.margin-bottom {
  margin: 0 0 2em;
}
.padding {
  padding: 1em;
}
.padding2, .padding-extra, .extra-padding {
  padding: 1.25em 1.875em;
}
.padding-top-bottom {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.padding-left-right {
  padding-left: 1em;
  padding-right: 1em;
}
.styled-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0 5%;
    li {
      border-bottom: rgba($white,.5)1px solid;
      padding: .125em 0;
      &:last-child {
        border: none;
      }
    }
  }
}
.text-align-center, .text-center {
  text-align: center;
}
.text-align-left, .text-left {
  text-align: left;
}
.text-align-right, .text-right {
  text-align: center;
}



.article {
	margin: 0 0 1em;
	position: relative;
	.image-wrapper {
		position: relative;
		.image-overlay {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
			bottom: 0;
			left: 0;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 500;
		}
		.image-crop {
			overflow: hidden;
			position: relative;
			width: 100%;
			&:before {
				content: "";
				display: block;
				padding-top: 56%;
			}
			/*img {
				display: block;
				height: auto;
				left: 0;
				position: absolute;
				top: 0;
				vertical-align: top;
				width: 100%;
			}*/
			img {
				display: block;
				height: 100%;
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: 0;
				vertical-align: top;
				width: auto;
			}
		}
		img {
			vertical-align: top;
		}
	}
	.text-wrapper {
		color: $black;
		padding: .25em 0;
		z-index: 501;
		a {
			color: $black;
		}
		.taxonomy {
			font-size: .875em;
			margin: 0 1em 0 0;
			text-transform: uppercase;
			vertical-align: middle;
		}
		.shares {
			color: $blue;
			font-size: .875em;
			font-weight: 700;
			vertical-align: middle;
			.material-icons {
				font-size: 1.125em;
				position: relative;
				top: 5px;
				vertical-align: top;
			}
			&.hot {
				color: $red;
			}
		}
		.title {
			font-size: 1.125em;
		}
	}
}

.articles-list {
	.article {
		border-bottom: 1px solid $gray;
		margin: 0 0 1em;
		padding: 0 0 1em;
		.text-wrapper {
			.title {
				font-weight: 700;
				line-height: 1.125em;
				margin: .25em 0 .375em;
			}
		}
	}
}


.video {
	margin: 0 0 1.5em;
	position: relative;
	.text-wrapper {
		a {
			color: $black;
		}
		.date {
			display: block;
			font-size: .875em;
			margin: 0;
			text-transform: uppercase;
			vertical-align: middle;
		}
		.title {
			font-size: 1.125em;
		}
	}
}


.top-articles-wrapper,
.more-articles-wrapper,
.videos-wrapper,
.fake-news-wrapper,
.latest-articles,
.contributor-videos {
	border-bottom: 3px solid $gray;
	margin: 0 0 2.5em;
	padding: 0 0 1.5em;
	h2 {
		font-family: $roboto-condensed;
		font-size: 1.5em;
		font-weight: 300;
		margin: 0 0 1.125em;
		text-transform: uppercase;
	}
	.top-feature {
		.article {
			.image-wrapper {
				.image-overlay {display: none;}
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
	}
}


.top-articles-wrapper, .more-articles-wrapper {
	.top-feature, .top-articles, .more-articles {
		.article {
			.image-wrapper {
				.image-crop {
					img {
						height: 100%;
						width: auto;
						margin: 0 auto;
						left: 0;
						right: auto;
						border-radius: 0;
					}
				}
			}
		}
	}
}

.videos-wrapper {
	@include clearfix;
	.top-video {
		margin: 0 0 1.5em;
	}
	.more-videos {
		margin: 0 0 1.5em;
	}
	.subscribe-wrapper {
		text-align: center;
		a {
			background-color: #c4302b;
			color: $white;
			display: block;
			font-family: $roboto-condensed;
			font-size: .938em;
			font-weight: 300;
			padding: .75em 0;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

.view-videos {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.video {
		flex: 0 0 100%;
		.video-crop {
			img {
				width: 100%;
			}
		}
	}
}



.fake-news-wrapper {
	border: none;
	margin: 0;
	.article {
		margin: 0 0 2em;
		&:last-child {
			margin: 0;
		}
		.title {
			font-size: .875em;
			line-height: 1.25em;
			margin: .625em 0 0;
			text-align: center;
		}
	}
}


.contributor-videos {
	.videos {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.video {
			flex: 0 0 100%;
		}
	}
}


.our-contributors {
	.contributors-wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		.contributor {
			flex: 0 0 25%;
			margin-bottom: 1.5em;
		}
	}
	.load-more {
		font-size: .875em;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
}

.round-image-wrapper {
	@include border-radius(50%);
	height: 50px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 50px;
	img {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}



.article-feature-wrapper,
.contributor-feature-wrapper {
	margin: 0 0 2em;
	.feature {
		margin: 0 0 5px;
		position: relative;
		.image-wrapper {
			position: relative;
			.image-overlay {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
				bottom: 0;
				left: 0;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 500;
			}
			.image-crop {
				overflow: hidden;
				position: relative;
				width: 100%;
				&:before {
					content: "";
					display: block;
					padding-top: 56%;
				}
				img {
					height: 100%;
					left: 0;
					margin: 0 auto;
					position: absolute;
					right: 0;
					top: 0;
					width: auto;
				}
			}
			img {
				vertical-align: top;
			}
		}
		.text-wrapper {
			bottom: 0;
			color: $white;
			padding: .625em;
			position: absolute;
			z-index: 501;
			a {
				color: $white;
			}
			.taxonomy {
				font-size: .875em;
				margin: 0 1em 0 0;
				text-transform: uppercase;
				vertical-align: middle;
			}
			.shares {
				font-weight: 700;
				vertical-align: middle;
				.material-icons {
					vertical-align: top;
				}
				&.hot {
					color: $red;
				}
			}
			.title {
				font-size: 1.25em;
				font-weight: 900;
			}
		}
	}
}


.latest-articles {
	border-top: 3px solid $gray;
	padding: 1.5em 0 0;
	.article {
		border-bottom: 1px solid $gray;
		padding: 0 0 1em;
		&:last-child {
			border: none;
		}
		.text-wrapper {
			.title {
				font-size: 1.375em;
				font-weight: 700;
				margin: .25em 0 .375em;
			}
		}
	}
}


.newsletters {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.newsletter {
		flex: 0 0 100%;
		margin: 0 0 2.5em;
		.newsletter-image {
			background: $black;
			img {
				@include transitions;
				vertical-align: top;
				width: 100%;
			}
		}
		.newsletter-title {
			font-size: 1.125em;
			font-weight: 600;
			text-align: center;
			a {
				display: block;
				padding: .25em 0;
				&:hover {
					color: $black;
					text-decoration: none;
				}
			}
		}
		.newsletter-download {
			a {
				background: $medium-red;
				color: $white;
				display: block;
				font-size: .813em;
				padding: .25em 0;
				text-align: center;
				text-transform: uppercase;
				.fa {
					font-size: 1.375em;
					margin: 0 .375em 0 0;
					position: relative;
					top: 1px;
					vertical-align: baseline;
				}
				&:hover {
					background: $red;
					text-decoration: none;
				}
			}
		}
		&:hover {
			.newsletter-image {
				img {
					opacity: 0.8;
				}
			}
			.newsletter-title {
				a {
					color: $black;
					text-decoration: none;
				}
			}
			.newsletter-download {
				a {
					background: $red;
					text-decoration: none;
				}
			}
		}
	}
}


.jobs {
	.job {
		border-bottom: 1px solid $gray;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin: 0 0 1em;
		padding: 0 0 1em;
		.job-title {
			flex: 0 0 100%;
			font-size: 1.125em;
			padding: 0 .25em;
		}
		.job-company {
			flex: 0 0 100%;
			padding: 0 .25em;
		}
		.job-type {
			flex: 0 1 auto;
			font-size: .813em;
			padding: 0 .625em;
			text-transform: uppercase;
		}
		.job-created-at {
			flex: 0 1 auto;
			font-size: .813em;
			padding: 0 .625em;
		}
	}
}


.releases {
	.release {
		border-bottom: 1px solid $gray;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin: 0 0 1em;
		padding: 0 0 1em;
		.release-title {
			flex: 0 0 100%;
			font-size: 1.125em;
			padding: 0 .25em;
		}
		.release-type {
			flex: 0 1 auto;
			font-size: .813em;
			padding: 0 .625em;
			text-transform: uppercase;
		}
		.release-date {
			flex: 0 1 auto;
			font-size: .813em;
			padding: 0 .625em;
		}
	}
}


.relateds {
	.related {
		border-bottom: 1px solid $gray;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin: 0 0 1em;
		padding: 0 0 1em;
		.related-title {
			flex: 0 0 100%;
			font-size: 1.125em;
			padding: 0 .25em;
		}
		.related-category {
			flex: 0 0 100%;
			font-size: .813em;
			padding: 0 .625em;
			text-transform: uppercase;
		}
		.related-read {
			flex: 0 1 auto;
			font-size: .813em;
			padding: 0 .625em;
		}
	}
}



.events {
	.event {
		border-bottom: 1px solid $gray;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin: 0 0 1em;
		padding: 0 0 1em;
		.event-title {
			flex: 0 0 100%;
			font-size: 1em;
			line-height: 1.375em;
		}
		.event-type {
			flex: 0 1 auto;
			font-size: .813em;
			text-align: right;
			text-transform: uppercase;
		}
		.event-date {
			flex: 0 1 auto;
			font-size: .875em;
		}
		.event-location {
			flex: 0 0 100%;
			font-size: .875em;
			line-height: 1.375em;
			position: relative;
			/*&:before {
				content: "-";
				display: block;
				left: -0.625em;
				position: absolute;
			}*/
		}
		.event-link {
			margin: 1em 0 0;
			.material-icons {
				position: relative;
				top: 1px;
				vertical-align: top;
			}
		}
	}
}



// Footer Blocks
.footer-menu {
	font-size: .813em;
	margin: 0 0 1em;
	ul.menu {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			list-style: none;
			margin: 0 .25em .625em;
		}
	}
}
.footer-copyright {
	font-size: .813em;
	line-height: 1.5em;
	p {margin: 0;}
}

.social-media {
	margin: 0 0 2em;
	ul {
		list-style: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin: 0 .25em;
			vertical-align: middle;
			a {
				@include transitions;
				display: block;
				&:hover {
					.fa-circle {
						color: $light-blue;
					}
					.fa-inverse {
						color: $white;
					}
				}
			}
			.fa-circle {
				@include transitions;
				color: $white;
			}
			.fa-inverse {
				@include transitions;
				color: $dark-blue;
			}
		}
	}
}


.companies {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	justify-content: space-between;
	.company {
		background: $white;
		border: 1px solid $gray;
		flex: 1 100%;
		margin: 0 0 1em;
		text-align: center;
		.company-details {
			display: block;
			height: 8em;
			margin: .625em 1em;
		}
		img {
			height: 100%;
			object-fit: contain;
			width: 100%;
		}
		.company-title {
			font-size: 1.125em;
			font-weight: 700;
			margin-top: 1.5em;
			padding: 0;
			a {
				display: block;
				padding: 1em .625em;
			}
		}
		.company-empty {
			border: 1px solid #666;
	    padding: 1em 2em;
	    text-align: center;
	    background: #ddd;
			width: 100%;
		}
	}
}


.share-icons-wrapper {
	margin: 1em 0;
	> div {
		display: inline-block;
		vertical-align: top;
	}
	.linkedin-button {
		.button-wrap {
			@include border-radius(4px);
			background: #0077b5;
			line-height: 1;
			padding: .188em .375em;
		}
	}
}


@media all and (min-width: 375px) {
	
	.newsletters {
		.newsletter {
			flex: 0 0 48%;
		}
	}
	
}


@media all and (min-width: 480px) {
	
	
	.companies {
		.company {
			flex: 0 0 48%;
		}
		&:after {
			content: "";
			flex-basis: 48%;
		}
	}
	
	
	.our-contributors {
		.contributors-wrapper {
			.contributor {
				flex: 0 0 16%;
			}
		}
	}
	
	
	.article-feature-wrapper,
	.contributor-feature-wrapper {
		.feature {
			.text-wrapper {
				bottom: .125em;
				.title {
					font-size: 1.5em;
					line-height: 1.375em;
				}
			}
		}
	}
	
	.fake-news-wrapper {
		.fake-articles {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.article {
				-ms-flex: 0 0 48%;
        flex: 0 0 48%;
			}
		}
	}
	
	
	.footer-menu {
		font-size: .875em;
		ul.menu {
			li {
				margin: 0 .625em .625em;
			}
		}
	}
	
}


@media all and (min-width: 667px) {
	
	.more-articles-wrapper {
		.more-articles {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			.article {
				flex: 0 0 49%;
			}
		}
	}
	
	.fake-news-wrapper {
		.fake-articles {
			.article {
				flex: 0 0 32%;
			}
		}
	}
	
	
	.videos-wrapper {
		.top-video {
			float: left;
			margin: 0 1.25em 1.5em 0;
			width: 400px;
		}
		.more-videos {
			float: left;
			width: 220px;
			.video {
				@include clearfix;
				border-bottom: 1px solid $gray;
				padding: 0 0 1em;
				.video-wrapper {
					float: left;
					width: 49%;
				}
				.text-wrapper {
					float: left;
					padding: .625em .625em 0 1em;
					width: 49%;
				}
			}
		}
		.subscribe-wrapper {
			a {
				font-size: 1em;
				padding: .875em 0;
			}
		}
	}
	
	
	.our-contributors {
		.contributors-wrapper {
			.contributor {
				flex: 0 0 10%;
			}
		}
	}
	
	.article-feature-wrapper,
	.contributor-feature-wrapper {
		.feature {
			.text-wrapper {
				.title {
					font-size: 1.875em;
				}
			}
		}
	}
	
	
	.contributor-videos {
		.videos {
			.video {
				flex: 0 0 49%;
			}
		}
	}
	
	
	.newsletters {
		&:after {
			content: "";
			flex-basis: 30%;
		}
		.newsletter {
			flex: 0 0 30%;
			margin: 0 0 3.5em;
		}
	}
	
	
	.footer-menu {
		font-size: .938em;
		ul.menu {
			li {
				margin: 0 .875em .625em;
			}
		}
	}
	
}



@media all and (min-width: 768px) {
  
  .top-articles-wrapper,
  .more-articles-wrapper,
  .videos-wrapper,
  .fake-news-wrapper,
	.latest-articles,
	.contributor-videos {
	  h2 {
		  font-size: 1.875em;
		  margin: 0 0 .75em;
	  }
		.top-feature {
			.article {
				.image-wrapper {
					.image-overlay {display: block;}
				}
				.text-wrapper {
					bottom: 0;
					color: $white;
					padding: 0 1em 1em;
					position: absolute;
					a {
						color: $white;
					}
					.title {
						font-size: 1.5em;
						margin: .375em 0 0;
					}
				}
			}
		}
		.top-articles {
			@include clearfix;
			.article {
				float: left;
				margin: 0 1% 1em 0;
				width: 49%;
				&:nth-child(2n) {
					margin: 0 0 1em 1%;
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
		}
	}
	
	
	.our-contributors {
		.contributors-wrapper {
			.contributor {
				flex: 0 0 33%;
			}
		}
	}
	
	
	
	.article-feature-wrapper,
	.contributor-feature-wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.feature {
			flex: 0 0 100%;
			margin: 0 0 1em;
			.text-wrapper {
				.title {
					font-size: 2.25em;
				}
			}
			&.feature-small {
				//flex: 0 0 48%;
				//margin: 0;
				.text-wrapper {
					padding: .625em 1.5em .625em .625em;
					.title {
						font-size: 1.25em;
					}
				}
			}
		}
	}
	
	
	.articles-list {
		.article {
			.text-wrapper {
				.title {
					font-size: 1.375em;
				}
			}
		}
	}
	
	
	.videos-wrapper {
		.top-video {
			width: 280px;
		}
		.more-videos {
			margin: 0 1.25em 1.5em 0;
			width: 200px;
		}
		.newsletter-wrapper {
			float: left;
			width: 220px;
		}
	}

}



@media all and (min-width: 1024px) {
	
	.companies {
		.company {
			.company-title {
				font-size: 1.25em;
				a {
					padding: 1.5em .25em;
				}
			}
		}
	}
	
	
	.more-articles-wrapper {
		@include clearfix;
		.more-articles {
			float: left;
			width: 66.666%;
		}
		.half-page-banners,
		.medium-rectangle-banners {
			float: right;
			width: 33%;
		}
	}
	
	.videos-wrapper {
		.top-video {
			width: 45%;
			.video-embed {
				img {
					width: 100%;
				}
			}
			.video {
				.text-wrapper {
					padding: .375em 1em 0 0;
					.date {
						margin: 0 0 .375em;
					}
				}
			}
		}
		.more-videos {
			width: 20%;
			.video {
				margin: 0 0 .75em;
				padding: 0 0 .5em;
				.video-wrapper {
					width: 25%;
				}
				.text-wrapper {
					padding: 0 .625em 0 1em;
					width: 75%;
				}
			}
		}
		.newsletter-wrapper {
			width: 30%;
		}
		.subscribe-wrapper {
			a {
				display: inline-block;
				margin: 1.5em 0 0;
				padding: .75em 1.5em;
			}
		}
	}
	
	.view-videos {
		.video {
			flex: 0 0 48%;
		}
	}
	
	.fake-news-wrapper {
		.fake-articles {
			.article {
				flex: 0 0 28%;
			}
		}
	}
	
	
	.our-contributors {
		.contributors-wrapper {
			.contributor {
				flex: 0 0 25%;
			}
		}
	}
	
	.article-feature-wrapper,
	.contributor-feature-wrapper {
		.feature {
			.text-wrapper {
				.title {
					font-size: 2.25em;
				}
			}
			&.feature-small {
				flex: 0 0 49%;
				.text-wrapper {
					padding: .625em;
					.title {
						font-size: 1.125em;
						font-weight: 500;
					}
				}
			}
			&.feature-tiny {
				flex: 0 0 32%;
				.text-wrapper {
					.title {
				    font-size: .813em;
						font-weight: 500;
					}
					.shares, .taxonomy {
						font-size: 0.813em;
					}
				}
			}
		}
	}
	
	.social-media {
		float: right;
		margin: 0;
		text-align: right;
		width: 50%;
	}
	.footer-menu-copyright {
		float: left;
		width: 50%;
	}
	.footer-menu {
		font-size: .938em;
		ul.menu {
			li {
				&:first-child {
					margin: 0 .875em 0 0;
				}
			}
		}
	}
	.footer-copyright {
		font-size: .875em;
	}
	
}




@media all and (min-width: 1200px) {
	
	.top-articles-wrapper {
		@include clearfix;
		.top-feature {
			float: left;
			width: 49%;
			.article {
				.image-wrapper {
					.image-crop {
						&:before {
							padding-top: 75%;
						}
						img {
							bottom: auto;
							height: auto;
						}
					}
				}
			}
		}
		.top-articles {
			@include clearfix;
			float: right;
			width: 49%;
			.article {
				float: left;
				margin: 0 1% 1em 0;
				width: 49%;
				&:nth-child(2n) {
					margin: 0 0 1em 1%;
				}
			}
		}
	}
	
	.more-articles-wrapper {
		.more-articles {
			width: 73%;
		}
		.half-page-banners,
		.medium-rectangle-banners {
			width: 25%;
		}
	}
	
	.videos-wrapper {
		.more-videos {
			.video {
				.video-wrapper {
					width: 33.333%;
				}
				.text-wrapper {
					padding: .625em .625em 0 1em;
					width: 66.666%;
					.date {
						margin: 0 0 .375em;
					}
				}
			}
		}
		.subscribe-wrapper {
			a {
				font-size: 1.125em;
			}
		}
	}
	
	
	.latest-articles {
		.article {
			.text-wrapper {
				.title {
					font-size: 1.5em;
				}
			}
		}
	}
	
	.fake-news-wrapper {
		.fake-articles {
			.article {
				flex: 0 0 16%;
				margin: 0;
			}
		}
	}
	
	.jobs {
		.job {
			.job-title {
				flex: 1 1 0;
			}
			.job-company {
				align-self: flex-end;
				flex: 0 1 auto;
			}
			.job-type {
				align-self: flex-end;
				min-width: 120px;
				text-align: right;
			}
			.job-created-at {
				align-self: flex-end;
				min-width: 100px;
				text-align: right;
			}
		}
	}
	
	
	/*.newsletters {
		&:after {
			flex-basis: 22%;
		}
		.newsletter {
			flex: 0 0 22%;
		}
	}*/
	
	
	.events {
		.event {
			.event-title {
				flex: 1 1 0;
				padding: 0 .25em;
			}
			.event-type {
				align-self: flex-end;
				min-width: 120px;
				padding: 0 .625em;
				text-align: right;
			}
			.event-date {
				align-self: flex-end;
				min-width: 100px;
				padding: 0 .625em;
				text-align: right;
			}
			.event-location {
				align-self: flex-end;
				flex: 0 0 33%;
				padding: 0 .625em;
			}
		}
	}
	
	
	.releases {
		.release {
			.release-title {
				flex: 1 1 0;
			}
			.release-type {
				align-self: flex-end;
				min-width: 120px;
				text-align: right;
			}
			.release-date {
				align-self: flex-end;
				min-width: 100px;
				text-align: right;
			}
		}
	}
	
	.relateds {
		.related {
			.related-title {
				flex: 1 1 0;
			}
			.related-category {
				align-self: flex-end;
				flex: 0 1 auto;
				min-width: 120px;
				text-align: right;
			}
			.related-read {
				align-self: flex-end;
				min-width: 100px;
				text-align: right;
			}
		}
	}
	
	
	.social-media {
		ul {
			li {
				a {
					font-size: 1.125em;
				}
			}
		}
	}
	
	.companies {
		.company {
			flex: 0 0 32%;
		}
		&:after {
			content: "";
			flex-basis: 32%;
		}
	}
	
	
	.contributor-videos {
		.videos {
			.video {
				flex: 0 0 48%;
			}
		}
	}
	
}



@media all and (min-width: 1280px) {

	.more-articles-wrapper {
		.more-articles {
			width: 75%;
			.article {
				flex: 0 0 32%;
			}
		}
	}

}


@media all and (min-width: 1440px) {
	
	.view-videos {
		.video {
			flex: 0 0 32%;
		}
	}
	
	
	.videos-wrapper {
		.top-video {
			width: 50%;
		}
		.newsletter-wrapper {
			width: 27%;
		}
	}
	
	
	.article-feature-wrapper,
	.contributor-feature-wrapper {
		.feature {
			.text-wrapper {
				padding: 0 2em .625em;
				.title {
					font-size: 3.125em;
				}
				.taxonomy {
					font-size: 1.125em;
				}
				.shares {
					font-size: 1.125em;
				}
			}
			&.feature-small {
				.text-wrapper {
					bottom: .25em;
					padding: 0 1.5em .625em;
					.title {
						font-size: 1.875em;
					}
					.taxonomy {
						font-size: 1em;
					}
					.shares {
						font-size: 1em;
					}
				}
			}
			&.feature-tiny {
				.text-wrapper {
					padding: 0 1em .625em;
					.title {
						font-size: 1.125em;
					}
					.taxonomy, .shares {
						font-size: 1em;
					}
				}
			}
		}
	}
	
	
	.latest-articles {
		.article {
			.text-wrapper {
				.taxonomy, .shares {
					font-size: 1em;
				}
				.title {
					font-size: 2em;
					line-height: 1.125em;
					margin: .375em 0 .5em;
				}
			}
		}
	}
	
	/*.newsletters {
		&:after {
			flex-basis: 18%;
		}
		.newsletter {
			flex: 0 0 18%;
		}
	}*/
	
	.articles-list {
		.article {
			.text-wrapper {
				.title {
					font-size: 1.875em;
				}
			}
		}
	}
	
	
	.social-media {
		ul {
			li {
				a {
					font-size: 1.25em;
				}
			}
		}
	}
	
	.companies {
		.company {
			.company-title {
				font-size: 1.375em;
				a {
					padding: 2em .625em;
				}
			}
		}
	}
	
	.contributor-videos {
		.videos {
			.video {
				flex: 0 0 32%;
			}
			&:after {
				content: "";
				flex-basis: 32%;
			}
		}
	}
	
}
