button, .button, .btn, a.button, a.btn {
  @include border-radius($button-border-radius);
  background-color: $button-color-back;
	border: $button-border;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	color: $button-color-text;
	display: inline-block;
	font-family: $button-font-family;
	font-size: 1.125em;
	font-weight: 700;
	margin: 0 0 1em;
	padding: .5em 1.5em;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	&:hover {
		background: $button-color-back-hover;
		color: $button-color-text-hover;
		text-decoration: none;
		transition: background-color 0s ease 0s, border-color 0s ease 0s, color 0s ease 0s, all 0.3s ease-in-out 0s;
	}
	&.full-width {
		margin-bottom: 1em;
		width: 100%;
	}
	&.small {
  	font-size: .875em;
  	padding: .375em 1em;
  	&.icon-left {
    	padding: .375em 1em .375em .75em;
  	}
  	&.icon-right {
    	padding: .375em .75em .375em 1em;
  	}
	}
	&.invert {
		background-color: $white;
		color: $brand-orange;
		&:hover {
			background-color: $brand-orange;
			color: $white;
		}
	}
	&.gray, &.bkgd-gray {
  	background-color: darken( $very-light-gray, 10% );
  	border: 1px solid darken( $very-light-gray, 10% );
  	color: $black;
  	&:hover {
    	background-color: darken( $very-light-gray, 14% );
      border-color: darken( $very-light-gray, 14% );
  	}
	}
	&.white, &.bkgd-white {
  	background-color: $white;
  	border: 1px solid $white;
  	&:hover {
    	background-color: transparent;
    	color: $white;
  	}
	}
	&.black, &.bkgd-black {
  	background-color: $black;
  	border: 1px solid $black;
  	&:hover {
    	background-color: transparent;
    	color: $black;
  	}
	}
	&.translucent {
  	background-color: rgba( $white, .2 );
  	border: 1px solid $white;
  	&:hover {
    	background-color: rgba( $white, .1 );
  	}
	}
	&.transparent {
  	background-color: transparent;
  	&:hover {
    	background-color: transparent;
  	}
	}
	&.no-border {
  	border: none;
	}
	&.border-white {
  	border: 1px solid $white;
  	&:hover {
    	background: $white;
    	color: $cyan;
  	}
	}
	&.border-black {
  	border: 1px solid $black;
	}
	&.border-blue {
  	border: 1px solid $blue;
  	&:hover {
    	background-color: $blue;
    	color: $white;
  	}
	}
	&.border-gray {
  	border: 1px solid $medium-gray;
  	&:hover {
    	background-color: $medium-gray;
    	color: $white;
  	}
	}
	&.text-white {
  	color: $white;
	}
	&.text-black {
  	color: $black;
	}
	&.text-blue {
  	color: $blue;
	}
	&.text-gray {
  	color: $medium-gray;
	}
	&.text-dark-gray {
  	color: $dark-gray;
	}
	&.rounded {
  	@include border-radius(100px);
  	padding: .5em 1.375em;
  	.fa {
    	font-size: 1.25em;
    	vertical-align: inherit;
  	}
	}
	&.icon-left {
  	padding-left: 1em;
  	.fa {
    	margin: 0 .5em 0 .125em;
  	}
	}
	&.icon-right {
  	padding-right: 1em;
  	.fa {
    	margin: 0 .125em 0 .5em;
  	}
	}
	.fa {
  	font-size: 1.5em;
  	margin: 0 .25em;
  	vertical-align: sub;
	}
	&.arrow-left {
  	background-image: url("/img/btn-arrow-left.png");
  	background-repeat: no-repeat;
  	background-size: auto;
	}
	&.arrow-right {
  	background-image: url("/img/btn-arrow-right.png");
  	background-repeat: no-repeat;
  	background-size: auto;
	}
}


/* 480+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 480px) {}


/* 768+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 768px) {
  
  button, .button, .btn, a.button, a.btn {
    margin: 0;
    width: auto;
  }
  
}


/* 960+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 960px) {}


/* 1200+ styles 
  --------------------------------------------------------------------- */
@media all and (min-width: 1200px) {}