form {
  @include clearfix;
  margin: 0 0 1.5em;
  padding: 0;
}

fieldset {
  background: $light-gray;
  border: 1px solid $gray;
  margin: 0 0 2em;
  padding: 1.5em;
}

legend {
	background: $brand-blue;
	color: $white;
	font-size: 1.25em;
	font-weight: 600;
	padding: .375em 1em;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: 600;
  margin-bottom: $base-line-height / 4;
  &.required:after {
	  color: $red;
    content: "*";
    position: relative;
    left: 3px;
    top: -3px;
  }
  abbr {
    display: none;
  }
  &.hide-label {display: none;}
}


textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
	@include border-radius($form-border-radius);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  -ms-transition: border-color;
  -o-transition: border-color;
  transition: border-color;
  background-color: $form-field-background;
  border: $form-border-size $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  font-weight: $form-field-weight;
  margin: $form-field-margins;
  padding: $form-field-padding;
  resize: vertical;
  width: 100%;
  &:hover {
    border-color: $form-border-color-hover;
  }
  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  width: 100%; }

select {
  width: 100%;
  margin-bottom: 1.5em; }
 
button, input[type="submit"] {
	border: $button-border;
	border-radius: $button-border-radius;
	background: $button-color-back;
	color: $button-color-text;
	cursor: pointer;
	float: right;
	font-size: 1.125em;
	font-weight: 700;
	margin: 0 0 0 1em;
	padding: 0.5em 1em;
	vertical-align: middle;
	white-space: nowrap;
	&:hover {
		background: $button-color-back-hover;
	}
	&.left-justify {
  	float: left;
  	margin: 0 1em 0 0;
	}
}

.form-element {
  @include clearfix;
  margin: 0 0 .875em;
  &.text-align-right {
	  text-align: right;
  }
  &.inline-label {
	  label {
		  display: inline-block;
		  margin: 0 .625em 0 0;
		  vertical-align: middle;
	  }
	  input, input[type="text"], .select-input-wrapper {
		  display: inline-block;
		  vertical-align: middle;
		  width: auto;
	  }
  }
  input[type="radio"], input[type="checkbox"] {
    margin: 0 .25em 0 .5em;
  }
  select, input[type="text"], textarea {
    margin: 0;
    width: 100%;
  }
  .inline-block {
    margin: 0 0 .875em;
    &:last-child {margin: 0;}
  }
}


.form-actions {
	button, input[type="submit"] {
		width: auto;
	}
}


.select-input-wrapper {
	position: relative;
	select {
		@include border-radius($form-border-radius);
		-webkit-appearance: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  -o-appearance: none;
	  appearance: none;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  -webkit-transition: border-color;
	  -moz-transition: border-color;
	  -ms-transition: border-color;
	  -o-transition: border-color;
	  transition: border-color;
	  background-color: $form-field-background;
	  border: $form-border-size $form-border-color;
	  box-shadow: $form-box-shadow;
	  font-family: $form-font-family;
	  font-size: $form-font-size;
	  font-weight: $form-field-weight;
	  margin: $form-field-margins;
	  padding: $form-select-padding;
	  resize: vertical;
	  width: 100%;
	}
	&:after {
		color: $base-font-color;
		content: "\e313";
		display: inline-block;
		font-family: "Material Icons";
		font-size: 1.5em;
		pointer-events: none;
		position: absolute;
		right: .5em;
		top: .375em;
	}
}


.form-signin {
  margin: 0;
}


.filter-block{
	background: $gray;
	padding: 1em;
	margin: 0 0 2em;
	text-align: center;
	form {
		margin: 0;
	}
	label {
		font-weight: 400;
	}
	.form-element, .form-actions {
		display: inline-block;
		margin: 0 .625em;
		vertical-align: middle;
	}
}


.form-fail-message {
	@include border-radius(.25em);
	background: $light-pink;
	border: 1px solid $pink;
	color: $light-maroon;
	display: inline-block;
	font-weight: 500;
	margin: 0 0 1.5em;
	padding: .625em 1em;
}


.subscriptions {
	border: 1px solid $gray;
	display: inline-block;
	margin: 0 0 2em;
	.subscription {
		border-bottom: 1px solid $gray;
		padding: .625em;
		&:last-child {border: none;}
		input[type="radio"] {
			display: inline-block;
			float: left;
			margin: 6px 0 0;
			width: 30px;
		}
		span {
			display: block;
			margin: 0 0 0 40px;
		}
		&:hover {
			background-color: lighten($light-blue,20%);
		}
	}
}


.preview {
	h3 {
		font-size: 1.125em;
		font-weight: 600;
		margin: 0 0 .375em;
	}
	.preview-block {
		@include clearfix;
		background-color: $form-field-background;
	  border: $form-border-size $form-border-color;
	  display: block;
	  margin: 0 0 1.5em;
	  padding: .625em;
	  .pimage {
		  float: left;
		  text-align: center;
		  width: 25%;
		  img {
			  display: inline-block;
		  }
	  }
	  .previewtext {
		  margin: 0 0 0 26%;
		  #ptitle {
			  font-size: 1.375em;
			  font-weight: 700;
			  margin: 0 0 .25em;
		  }
		  #pdate {
			  font-size: 1.25em;
			  font-weight: 500;
			  margin: 0 0 .25em;
		  }
		  #plocation {
			  border-bottom: 3px solid #c2c2c2;
			  display: inline-block;
			  margin: 0 0 1em;
			  padding: 0 0 .25em;
			  text-transform: uppercase;
		  }
		  #ptext {
			  font-size: 1.125em;
			  line-height: 1.375em;
		  }
	  }
	}
}


.hs-form {
	.hs-submit {
		max-width: 500px;
		.actions {
			@include clearfix;
		}
	}
}



@media all and (min-width: 768px) {
  
  select {
    width: auto;
  }
  
  .form-element {
    @include clearfix;
    margin: 0 0 1.5em;
    select, input[type="text"], textarea {
      margin: 0;
    }
  }
  
  
	.preview {
		.preview-block {
			padding: 1em .875em;
		  .previewtext {
			  margin: 0 0 0 28%;
		  }
		}
	}
  
}


@media all and (min-width: 1200px) {
	
	.form-flex {
		display: flex;
		margin: 0 -0.625em 1em;
		.flex-item {
			flex: 1 1 0;
			min-width: 0;
			.flex-container {
				margin: 0 .625em;
			}
		}
	}
	
}