ul, ol {
  margin: 0 0 1.5em;
  padding-left: 2em;
  li {margin: 0 0 .25em;}
  ul, ol {
    font-size: .938em;
    margin: 0 0 .375em
  }
}
ol {
  list-style-type: decimal;
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height *2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height ;
  }

  dd {
    margin: 0;
  }
}