table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	//table-layout: fixed;
	width: 100%;
	thead {
  	tr {
    	&:hover {
      	box-shadow: none;
    	}
  	}
	}
	th {
	  background-color: $table-header-color-back;
	  border: 1px solid $table-color-border;
	  color: $table-header-color-text;
	  font-weight: 500;
	  padding: .5em 1em;
	  text-align: left;
	}
	td {
		border: 1px solid $table-color-border;
		font-size: .875em;
		padding: .5em 1em;
		.button.small {
		  float: none;
		  line-height: 1.375em;
  		padding: .125em 1em;
		}
		input[type="submit"] {
		  float: none;
		  margin: 0;
		}
		form {
		  margin: 0;
		  input[type="submit"] {margin: 0;}
		}
	}
	tr, td, th {
	  //overflow: hidden;
	  vertical-align: middle;
	  &.nowrap {
  	  white-space: nowrap;
  	  width: 1px;
	  }
	  &.align-center {
  	  text-align: center;
	  }
	  &.align-right {
  	  text-align: right;
	  }
	}
	tr { 
    background-color: $table-row-color-back;
    &:hover {
      background-color: $table-row-color-back-hover;
    }
    &:nth-child(2n) {
      background-color: $table-row-color-back-alt;
      &:hover {
        background-color: $table-row-color-back-hover;
      }
    }
  }
}

.items {
  display: table;
  width: 100%;
  .item {
    display: table-row;
    div {
      border-bottom: 1px solid $black;
      display: table-cell;
      padding: .5em;
      width: 25%;
    }
  }
}


.table-tabs {
  button {
    @include border-radius(8px 8px 0 0);
    background: lighten($table-header-color-back,25%);
    border-color: lighten($table-header-color-back,16%);
    float: none;
    font-size: 1em;
    padding: .375em .875em .25em;
    &.active {
      background: $table-header-color-back;
      border-color: $table-header-color-back;
    }
  }
}




@media screen and (max-width: 980px) {
  
  table {
    border: none;
    thead {display: none;}
    tr {
      border-bottom: 2px solid $table-color-border;
      display: block;
      margin: 0 0 1.5em;
    }
    td {
      border-bottom: 0;
      display: block;
      font-size: .875em;
      min-height: 2.5em;
      text-align: right;
      &:last-child {
        border-bottom: 0;
      }
      &:before {
        content: attr(data-label);
        float: left;
        font-weight: 700;
        text-transform: uppercase;
      }
      &.nowrap {
    	  white-space: inherit;
    	  width: 100%;
  	  }
  	  &.align-center {
    	  text-align: right;
  	  }
  	  .button, .btn {
    	  width: auto;
  	  }
    }
  }
  
}