/* RETINA DISPLAY IMAGES */

#main #main-inner #content #content-area .home-article {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: 47%;
  margin: 0 0.5em 2em 0;
  padding: 0;
  border: 1px solid black;
}

#main #main-inner #content #content-area .home-article h2 {
  background: #666;
  color: white;
  padding: 0.5em 0;
}

#main #main-inner #content #content-area .home-article p {
  background: white;
}

#main #main-inner #content #content-area .home-article .home-article-image {
  height: 350px;
  overflow: hidden;
}

#main #main-inner #content #content-area .home-article .home-article-image img {
  width: 100%;
  margin: 0;
  height: auto;
  padding: 0;
}