#footer {
  background: $footer-color-back;
  overflow: hidden;
	width: 100%;
	#footer-inner {
	  @include clearfix;
	  background: $footer-inner-color-back;
	  color: $footer-color-text;
		margin: auto;
		max-width: $footer-inner-max-width;
		overflow: hidden;
		padding: 2em .625em;
		text-align: center;
    a {
      color: $footer-link-color;
    }
	}
}




@media all and (min-width: 1024px) {
  
  #footer {
    #footer-inner {
	    padding: 3em .625em;
	    text-align: left;
	  }
  }
  
}
