#utility {
  background: $utility-color-back;
  color: $utility-color-text;
  display: none;
  #utility-inner {
	  background: $utility-inner-color-back;
    margin: 0 auto;
    max-width: $utility-inner-max-width;
    padding: 0;
    position: relative;
    .utility-nav {
      position: absolute;
      right: 0;
      top: 1.625em;
      z-index: 901;
			ul {
			  margin: 0;
			  padding: 0;
				li {
					color: $utility-color-text;
					display: inline-block;
					//font-size: .75em;
					list-style: none;
					margin: 0 0 0 -4px;
					padding: 0;
					position: relative;
					vertical-align: top;
					/*&:after {
            border-right: 1px solid $white;
            content: "";
            display: block;
            height: 14px;
            margin: -7px 0 0;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
          }*/
          &:first-child {
            margin: 0;
          }
          &:last-child {
            &:after {
              border: none;
              content: none;
              display: none;
              height: auto;
              margin: auto;
              position: inherit;
              right: auto;
              width: auto;
            }
          }
					a {
						color: $utility-color-text;
						display: block;
						line-height: 1;
						padding: 0 .5em;
						&:hover {
					    color: $utility-color-text-hover;
            }
            .material-icons {
	            font-size: 2em;
            }
					}
				}
			}
		}
  }
}



@media all and (min-width: 1200px) {
	
	#utility {display: block;}
	
}



@media all and (min-width: 1440px) {
	
	#utility {
		#utility-inner {
			.utility-nav {
				top: 1.875em;
				ul {
					li {
						a {
							padding: 0 .875em;
						}
					}
				}
			}
		}
	}
	
}