/* RETINA DISPLAY IMAGES */
/* line 7, ../../sass/pages/user-create.scss */
#main #content-header .content-header-inner {
  max-width: 640px;
}
/* line 11, ../../sass/pages/user-create.scss */
#main #main-inner {
  max-width: 640px;
}
/* line 13, ../../sass/pages/user-create.scss */
#main #main-inner #content-area {
  padding: 2em 0;
}

/* line 19, ../../sass/pages/user-create.scss */
.btn, input[type="submit"] {
  margin: 2em 0 0;
}
