/* RETINA DISPLAY IMAGES */
/* line 4, ../../sass/pages/user-login.scss */
#navigation,
#mobile-header {
  display: none;
}

/* line 10, ../../sass/pages/user-login.scss */
#header #header-inner {
  text-align: center;
}
/* line 12, ../../sass/pages/user-login.scss */
#header #header-inner .brand-wrapper {
  float: none;
  display: inline-block;
  margin: 2em auto 1em;
}

/* line 20, ../../sass/pages/user-login.scss */
#search-wrapper {
  display: none;
}

/* line 23, ../../sass/pages/user-login.scss */
#main #content-header {
  display: none;
}
/* line 25, ../../sass/pages/user-login.scss */
#main #content-header .content-header-inner {
  max-width: 480px;
  text-align: center;
}
/* line 30, ../../sass/pages/user-login.scss */
#main #main-inner {
  max-width: 480px;
}
/* line 32, ../../sass/pages/user-login.scss */
#main #main-inner #content-area {
  padding: 2em 1.5em;
}

/* line 39, ../../sass/pages/user-login.scss */
input[type="text"], input[type="password"] {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  background: #e1e1e1;
  border-color: #898989;
  padding: .75em 1.25em;
}
/* line 44, ../../sass/pages/user-login.scss */
input[type="text"]:hover, input[type="password"]:hover {
  border-color: #898989;
}

/* line 49, ../../sass/pages/user-login.scss */
.form-help-actions {
  font-size: .875em;
  position: relative;
  text-align: center;
}

/* line 55, ../../sass/pages/user-login.scss */
#login-message {
  background: #fac7c9;
  border: 1px solid #f37c81;
  padding: .5em;
}

@media all and (min-width: 480px) {
  /* line 66, ../../sass/pages/user-login.scss */
  #main #main-inner #content-area {
    padding: 2em 3.5em;
  }
}
@media all and (min-width: 768px) {
  /* line 79, ../../sass/pages/user-login.scss */
  #header #header-inner .brand-wrapper {
    margin: 5em auto 2em;
  }
  /* line 81, ../../sass/pages/user-login.scss */
  #header #header-inner .brand-wrapper .logo {
    width: auto;
  }

  /* line 90, ../../sass/pages/user-login.scss */
  #main #main-inner #content-area {
    padding: 3em 2.5em;
  }

  /* line 96, ../../sass/pages/user-login.scss */
  input[type="text"], input[type="password"] {
    font-size: 1.125em;
    margin: 0 0 1em;
    padding: .75em 1.75em;
  }

  /* line 102, ../../sass/pages/user-login.scss */
  .form-help-actions {
    float: left;
    padding: 0 0 0 1em;
    position: relative;
    text-align: left;
    top: -2.5em;
  }
}
