@import "../base/mixins";
@import "../base/variables";


.agency-dashoard-client-wrapper {
	margin: 0 0 2em;
	.client-heading {
		align-items: center;
		display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  flex-flow: row wrap;
	  justify-content: space-between;
	  margin: 0 0 .625em;
	  width: 100%;
	  h2 {
		  font-family: $roboto-condensed;
		  font-weight: 500;
		  -webkit-box-flex: 1;
		  -moz-box-flex: 1;
		  width: 80%;
		  -webkit-flex: 1;
		  -ms-flex: 1;
		  flex: 1;
		  line-height: 1.25em;
		  margin: 0;
	  }
	  .remove-btn {
		  -webkit-box-flex: 0 0 auto;
		  -moz-box-flex: 0 0 auto;
		  width: auto;
		  -webkit-flex: 0 0 auto;
		  -ms-flex: 0 0 auto;
		  flex: 0 0 auto;
		  .button {
			  background: $light-gray;
			  border: 1px solid $medium-gray;
			  color: $dark-gray;
			  font-size: .875em;
			  font-weight: 400;
			  margin: 0;
			  padding: .25em .625em;
			  text-transform: none;
			  &:hover {
				  background: darken($light-gray,5%);
			  }
		  }
	  }
	}
	.client-details {
		button {
			font-family: $roboto-condensed;
			font-size: 1.125em;
		  font-weight: 500;
			float: none;
			margin: 0 0 1px;
			padding: .625em 2.5em .625em 2em;
			position: relative;
			text-align: left;
			text-transform: none;
			width: 100%;
			&:before {
				content: "\f078";
				font-family: "FontAwesome";
				font-size: .813em;
				left: .625em;
				position: absolute;
				top: 1em;
			}
			&.open {
				&:before {
					content: "\f077";
				}
			}
			&:hover {
				background: darken($brand-blue,6%);
			}
			.fa {
				font-size: .938em;
				display: inline-block;
				margin: 0 .625em 0 0;
				vertical-align: baseline;
			}
			.badge-count {
				@include border-radius(100px);
				background: $red;
				border: 2px solid $white;
				color: $white;
				font-size: .813em;
				font-weight: 700;
				display: inline-block;
				line-height: 1;
				margin: 0;
				padding: 3px 6px;
				position: absolute;
				right: .625em;
				text-align: center;
				top: .625em;
			}
		}
	}
	.w3-container {
		border-bottom: 1px solid $gray;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;
		margin: 0 0 .625em;
		padding: 0 .625em;
		position: relative;
		top: -1px;
	}
	.w3-hide {
		display: none;
		&.w3-show {
			display: block;
		}
	}
}