.job {
	.detail {
		margin: 0 0 .25em;
		span {
			display: inline-block;
			vertical-align: top;
			&.label {
				font-weight: 500;
				margin: 0 .25em 0 0;
			}
		}
		&.job-description {
			margin: 0;
		}
		&.job-contact-info {
			p {margin: 0;}
		}
	}
}


.email-required-form {
	margin: 0 0 2.5em;
	max-width: 480px;
}


@media all and (min-width: 768px) {
	
	.job {
		.detail {
			margin: 0 0 .625em;
			span {
				&.label {
					min-width: 120px;
					text-align: right;
				}
			}
		}
	}
	
}