@import "../base/mixins";
@import "../base/variables";

.page-articles-index {
  .articles {
    .article {
      width: 47%;
      display: inline-block;
      margin: 1em 0.5em;
      vertical-align: top;
      .image {
        height: 320px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      > div {
        margin-bottom: 0.5em;
      }
      .title {
        font-size: 1.25em;
        font-weight: bold;
      }
    }
  }
}

.article-empty {
	border: 1px solid $gray;
  padding: 1em 2em;
  text-align: center;
  background: $light-gray;
	width: 100%;
}

@media all and (min-width: 960px) {
}

@media all and (min-width: 1200px) {
}

@media all and (min-width: 1450px) {
}
