#main #main-inner {
  margin-bottom: 2em;
  #content #content-area {
    a.button.active {
      background: #555;
    }
  }
}

#main #main-inner #sidebar #sidebar-inner {
  a.button.active {
    background: #555;
  }
}
