#awards.items {
  text-align: center;
  .item {
    display: inline-block;
    width: 30%;
    background: #eee;
    padding: 0.25em;
    vertical-align: top;
    margin: 0.25em;
    min-height: 5em;
    text-align: center;
    background-color: #ccc;
    background-size: contain; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    .title {
      font-size: 1.25em;
      font-weight: bold;
      color: black;
      margin: 0.5em 0;
      a {
        font-size: 1em;
        font-weight: normal;
        color: black;
      }
    }
  }
}